@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fuente-primaria: "Raleway", sans-serif;
    --fuente-secundaria: "Inter", sans-serif; 
    --color-fondo-boton: #D8DFE8;
    --color-primario: #0A3871;
    --color-secundario: #E7E3C6;
    --color-terciario: #495057;
    }

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

body {
    color: var(--color-primario);
    font-family: var(--fuente-primaria);
    background-image: url("/assets/letras.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.header {
    display: flex;
    padding: 1.5rem;
    justify-content: left;
    gap: 5rem;
}

.logo {
    margin-left: 0.7rem;
    width: 14%;
    height: 12%;
}

main {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    line-height: 150%;
    font-size: 2rem;
    padding: 0% 5% 0% 5%;
    gap: 1.5%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 50%;
}

.area-texto {
    background-color: var(--color-secundario);
    border: none;
    margin-top: 1.25rem;
    text-transform: lowercase;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    resize: none;
    border-radius: 20px;
    padding: 2%;
}

::placeholder {font-family: var(--fuente-secundaria);}
    .area-texto:focus {
        outline: none;
    }

.informacion {
    color: var(--color-terciario);
    font-family: var(--fuente-secundaria);
    font-size: 1rem;
    font-weight: 400;
}

.mensaje {
    background: var(--color-secundario);
    height: 100%;
    width: 65%;
    margin-top: 1.2rem;
    background-image: url("/assets/munieco.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 20px;
    resize: none;
    padding: 2%;
}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    justify-content: space-between;
    gap: 1rem
}

.boton-encriptar {
    background-color: var(--color-primario);
    border: 1px solid var(--color-primario);
    border-radius: 24px;
    color: var(--color-secundario);
    cursor: pointer;
    height: 4.2rem;
    width: 19rem;
}

.boton-desencriptar {
    background-color: var(--color-fondo-boton);
    border: 1px solid var(--color-primario);
    color: var(--color-primario);
    border-radius: 24px;
    cursor: pointer;
    height: 4.2rem;
    width: 17rem;
}

.boton-copiar {
    background-color: var(--color-fondo-boton);
    border: 1px solid var(--color-primario);
    color: var(--color-primario);
    border-radius: 24px;
    cursor: pointer;
    height: 4.2rem;
    width: 20.5rem;
}

.copiar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensaje-confirmacion {
    color: var(--color-terciario);
    display: inline-block;
    visibility: visible;
    text-align: center;
    font-family: var(--fuente-secundaria);
    font-size: 1rem;
    font-weight: 400;
}

footer {
    padding: 1.5rem;
    text-align: center;
}

@media (max-width: 1200px) {
    .botones {
        width: 100%;
    }
}

@media (max-width:1024px) {

    body {
        height: 100%;
        background-image: url("/assets/texto.jpg");

    }
    .header {
        gap: 1rem;
    }

    .logo{
        width: 100%;
        height: 100%;
    }

    main {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    section {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .botones {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boton-encriptar, .boton-desencriptar, .boton-copiar {
        width: 100%;
    }

    .copiar {
        width: 100%;
    }

    .mensaje {
        width: 100%;
    }
}


